<%= form_for @team do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required =>  true%>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description, :required =>  true%>
    <br>
    <div class="none">
    <%= hidden_field_tag(:group_id, @group_id)%>
    <%= hidden_field_tag(:project_id, @project_id)%>
    </div>
    <%= label_tag "Team Size"%>
    <%= text_field_tag :team_size, params[:team_size], :required =>  true%>
    <br>
    <%= f.submit "Generate Teams"%>
    <%= f.submit "Manually Pick"%>

    <%= @all_users.each_index do |x| %>
    <%= f.label x %>
    <%= f.check_box :members%>
    <% end %>


<% end %>
