<% if @user.admin %>
    <%= "Project Name: " + @project.name%>
    <br />
    <%= "Project Description: " + @project.description%>
    <br />
    <br />

    <table>
        <% @project.teams.each do |team|%>
            <tr class="table-border">
                    <td class="right-border">
                        <div class="flex font20"> 
                        Team <%= team.name%>
                        <br />
                        <%= team.description%>
                        </div>
                    </td>
                    <td>
                        <div class="font20">
                            Team Members
                            <div class="flex">
                                <% team.users.each do |member|%>
                                    <div><%= member.fname%></div>
                                    &nbsp
                                    <div><%= member.lname%></div>
                                    &nbsp
                                    <div><%= member.email%></div>
                                <%end%>
                            </div>
                        </div>
                    </td>
            </tr>
        <% end %>
    </table>

<%end%>