<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<% if notice%>
    <p class="notice flex center"><%= notice %> </p>
<%end%>
<div class=" header v-center space-between flex padding-show">
    <div class="flex">
        <div class="font-all ">
            View Teams
        </div>
        

    </div>
</div>
<div class="top-space padding-show-2">
<% if @user.admin %>
    <div class="flex font-all-2">
        <div>  
            <div> Project Name: </div>
            <div> Project Description:</div>
        
        </div>
        <div class="left-space-ll">
            <div> <%= @project.name%> </div>
            <div> <%= @project.description%> </div>
            
        </div>
    </div>
    <br />

    <div class="table-show">
        <table class="table font14">
            <tr>
                <th>Teams</th>
                <th>Members</th>
            </tr>
                <% @project.teams.each do |team|%>
                    <tr class="">  
                
                        <td class="right-border">
                            <div class="flex font-all-2"> 
                                <div>
                                <div>Team: </div>
                                
                                <div>Description: </div>
                                <div> <%= button_to "Modify Team", "/modify_team", method: :get, params: {:team_id => team.id, :project_id => @project.id}, class: "btn btn-normal"%></div>
                                </div>
                                <div>
                                 <div><%= team.name%></div>
                                 <div><%= team.description%></div>
                                </div>
                            </div>
                        </td>
                        <td >
                            <table  class="table table-sm table-hover">   
                                <tr class="bottom-border bold">
                                    <td>Id</td>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td>Email</td>
                                </tr>       
                                <% team.users.each do |member|%>
                                
                                <tr>
                                    <td class="table-show-2"> <%=member.id%></td>
                                   <td class="table-show-2">
                                        <%= member.fname%></td>
                                <td class="table-show-2">
                                    <%= member.lname%></td>
                                
                                    <td class="table-show-2"><%= member.email%></td>
                                    
                                    </tr>
                                <%end%>
                            </table>
                        </td>
                    </tr>
                <%end%>
            </tr>
        </table>
    </div>
    
<%end%>

</div>