<div>
    <div class="header flex center login">
        <p class="bold">
        Welcome to Happy Eval <span class="font20">- Proudly Presented to you by Team The Little Rascal</span>
        </p>
    </div>
    <div class="main-col flex top-space">
        <div class="left flex center">
            <div id="intro">
                <span class="white font20 bold">Intro</span> <br>
                In classes with presentations, such as CSE 3901, evaluations of these presentations by audience members (ie other students in the class) can be a useful component of the grading rubric. The feedback from these evaluations is useful to the instructor for assigning a score to an individual student, as well as to the students for receiving constructive criticism from their peers.
            </div>
        </div>
        <div class="right ">
            <h2>Log In</h2>
            <p class="notice"><%= notice %> </p>
            <%= form_tag '/login' do %>
                Email: <%= text_field_tag :email%><br>
                Password: <%= password_field_tag :password%><br>
                <%= submit_tag "Log In"%>
            <%end%>
            <%= button_to "Sign up", new_user_path, method: :get%>
            <%= button_to "Forgot Password", password_path(@user), method: :get%>
        </div>
    </div>
</div>