
<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<% if notice%>
    <p class="notice flex center"><%= notice %> </p>
<%end%>

<div class=" header v-center space-between flex padding-show">
    <div class="flex">
        <div class="font-all ">
            Reset Password
        </div>

    </div>

</div>

<div class="padding font-all-2 top-space">
  <div class="bottom-space-sss">Please enter your email to receive a temporary password!</div>
  <%= form_tag '/emailpassword' do %>
    Email: <%= text_field_tag :email%><br>
    <%= submit_tag "Send", class: "btn btn-all top-space" %>
  <%end%>
</div>