
<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<% if @error%>
    <p class="error-msg flex center" ><%= @error %> </p>
<%end%>
<% if @is_temp_user %>
<h1> Add New Student</h1>
<%= form_for @user do |f| %>
    <%= f.label :fname %>
    <%= f.text_field :fname, :required =>  true%>
    <br>
    <%= f.label :lname %>
    <%= f.text_field :lname, :required =>  true%>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, :required =>  true%>
    <br>
    <div class="none">
    <%= f.label :password %>
    <%= f.password_field :password, :required =>  true%>
    <br>
    </div>
    <%= f.label :admin %>
    <%= f.check_box :admin%>
    <br>
    <%= hidden_field_tag(:temp_user, '')%>
    <%= hidden_field_tag(:group_id, @group_id)%>
    <%= f.submit "Create Account"%>

<% end %>

<% else%>
<h1> New Users Page</h1>


<%= form_for @user do |f| %>
    <%= f.label :fname %>
    <%= f.text_field :fname, :required =>  true%>
    <br>
    <%= f.label :lname %>
    <%= f.text_field :lname, :required =>  true%>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, :required =>  true%>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, :required =>  true%>
    <br>
    <div class="none">
    <%= f.label :admin %>
    <%= f.check_box :admin, checked: true%>
    </div>
    <%= label_tag :group_name%>
    <%= text_field_tag 'group', value = nil, :required => true%>
    <br>
    <%= f.submit "Create Account" %>

<% end %>

<% end %>