<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<% if notice%>
    <p class="notice flex center"><%= notice %> </p>
<%end%>
<div>


     <div class=" header v-center space-between flex padding-show">
          <div class="flex">
               <div class="font-all">
                    <%= "Welcome " + @user.fname + " " + @user.lname + "!"%>
               </div>
               

          </div>
          <div class="flex">
               <%= button_to "Logout", logout_path, method: :post, class: "btn btn-all"%>
               <%= button_to "Update Profile ", edit_user_path, method: :get, class: "btn btn-all"%>
          </div>

     </div>
     <div class="padding-show flex">
     <div class="font-normal">
          <%= "Your email: " + @user.email%>
     </div>
     <div class="font-normal left-space-lllll">
          <% if @user.admin%>
               <%= "You manage group number " + @user.groups.first.id.to_s + ": " + @user.groups.first.name%>

          <% else %>
               <%= "Your groups are "%>
               <% @user.groups.each do |group| %>
               <%= "ID: " + group.id.to_s%>
               <%= "Name: " + group.name%>
               <% end %>
          <% end %>
     </div>
     </div>
     <br />
     <% if @user.admin %>
     <div class="flex padding-show">
     <%= button_to "Add Student", new_user_path, method: :get, params: {:temp_user => true, :has_group => true, :group_id => @user.groups.first.id}, class: "btn btn-all"%>
     <%= button_to "Add Project", new_project_path, method: :get, params: {:group_id => @user.groups.first.id}, class: "btn btn-all left-space"%>
     </div>
     <br />


     <div class="padding-show-2  table-show">
          <div class="font-normal bold font20">Your Projects</div>
          <table class="table font14">
                    <tr>
                         <th>Name</th>
                         <th>Descript</th>
                         <th>Action</th>
                         <th>View Team</th>
                         <th>Send Poll</th>
                         <th>View Poll </th>
                    </tr>
               <% @group.projects.each do |project|%>
                    <tr class="">  
                    
                         <td>
                              <%= project.name%>
                         </td>
                         <td>
                              <%= project.description%>
                         </td>
                         <td>
                              <%= button_to "Delete", project, method: :delete, class: "btn btn-normal"%>
                         </td>
                         <% if !project.has_team%>
                              <td><%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <td><%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal invisible"%></td>
                              <td><%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal invisible"%></td>
                              <% else%>
                              <td><%= button_to "View Teams", "/view-teams", method: :get, params: {:project_id => project.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <td><%= button_to "Send New Poll", new_poll_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <td><%= button_to "View Results", "/view-results", method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                         <%end%>
                    </tr>
               <% end %>
          </table>
          <div class="font-normal bold font20">Your Students</div>
          <table class="table ">
                    <tr>
                         <th>Status</th>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Email</th>
                         <th>Role</th>
                         <th>Action</th>
                    </tr>
               <% @group.users.each do |student|%>
                    <tr class="">  
                    
                         <td>
                              <div><%= student.temp_user ? "Inactive" : "Active"%></div>
                         </td>
                         <td>
                              <div><%= student.fname%></div>
                         </td>
                         <td>
                              <div><%= student.lname%></div>
                         </td>
                         <td>
                              <div><%= student.email%></div>
                         </td>
                         <td>
                              <div>
                                   <% if student.admin%>
                                        Admin
                                   <% end %>
                              </div>
                         </td>
                         <td>
                              <% if student.id != @user.id && @group.owner != student.id%>
                              <div><%= link_to "Delete", student, method: :delete, class: "btn btn-normal"%></div>
                              <%elsif @group.owner == student.id%>
                              <div>Owner</div>
                              <%else%>
                              <div>You</div>
                              <%end%>
                         </td>
                    </tr>
               <% end %>
          </table>
          
 
     </div>

     <%else%>
          <div>
          <h1>Opening Polls</h1>
               <%@user.polls.each do |poll|%>
               <%if poll.end_date > Date.today %>
               <div class="flex">

               <div><%=@user.groups.find(poll.group_id).name%></div>
               &nbsp
               <div><%=@user.groups.find(poll.group_id).projects.find(poll.project_id).name%></div>
               &nbsp
               <div><%=@user.teams.where(project_id: poll.project_id).first.name%></div>
               &nbsp
               <div><%= poll.description%></div>
               &nbsp
               <div><%= poll.end_date %></div>
               &nbsp
               <%if @user.pollings.where(poll_id: poll.id).first.is_complete%>
               <div> You are alread completed this poll </div>
               <%else%>
               <%= button_to "Complete Activity", new_result_path, method: :get, params: {:project_id => poll.project_id, :team_id => @user.teams.where(project_id: poll.project_id).first.id, :poll_id => poll.id}%>
               <%end%>
               </div>
               <%end %>
               <%end%>
          </div>

          <h1>Closed Polls</h1>
               <%@user.polls.each do |poll|%>
               <%if poll.end_date < Date.today %>
               <div class="flex">
               <div><%=@user.groups.find(poll.group_id).name%></div>
               &nbsp
               <div><%=@user.groups.find(poll.group_id).projects.find(poll.project_id).name%></div>
               &nbsp
               <div><%= poll.description%></div>
               &nbsp
               <div><%= poll.end_date %></div>
               
               </div>
               <%end %>
               <%end%>
          </div>

          <div>
          <h1>Your Teams</h1>
         <%@user.teams.each do |team|%>
               <div><%= team.name %></div>
               <div><%= @user.groups.find(team.group_id).name %></div>
               <div><%= Project.joins(:teams).where(teams: {id: team.id}).first.name %></div>
               <div>
                    <% team.users.each do |user|%>
                    <div class="flex">
                    <div><%=user.fname%></div>
                    &nbsp
                    <div><%=user.lname%></div>
                    </div>
                    <%end%>
               </div>
         <%end%>
         </div>
     <%end%>


     <div class="footer flex center font20">
          <span>
          Happy Eval - The Little Rascal
          </span>
     </div>
</div>