<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<div>
     <p class="notice"><%= notice %> </p>
     
     <div class="info-area header  ">
          <div>You are logged in as</div>
          <div class="flex"><%= @user.fname%>
          <%= @user.lname%>
          <%= @user.email%>
          <%= button_to "Logout", logout_path, method: :post%>
          <%= button_to "Update Profile", edit_user_path, method: :get%>
          </div>
          <div class="flex">
               <% if @user.admin%>
                    <div> Your Manage Group # </div>
                    <%= @user.groups.first.id%>
                    <%= @user.groups.first.name%>

               <% else %>
                    <div> Your groups are: </div>
                    <% @user.groups.each do |group| %>
                     <div><%= group.id%></div>
                    <div><%= group.name%></div>
                    <% end %>
               <% end %>
          </div>
     </div>
     
     <% if @user.admin %>
     <div class="top-space flex">
     <%= button_to "Add Student", new_user_path, method: :get, params: {:temp_user => true, :has_group => true, :group_id => @user.groups.first.id}%>
     <%= button_to "Add Project", new_project_path, method: :get, params: {:group_id => @user.groups.first.id}%>
     </div>

     <div class="flex">
          <div id="student-display">
          <div class="font20">Your Class</div>
          <div>
          
          <% @group.users.each do |student|%>
          <div class="flex">
          <tr><%= student.temp_user ? "Inactive" : "Active"%></tr>
          &nbsp
          <tr><%= student.fname%></tr>
          &nbsp
          <div><%= student.lname%></div>
          &nbsp
          <div><%= student.email%></div>
          &nbsp
          <div><% if student.admin%>
                    Admin
               <% end %>
               </div>
               &nbsp

          <div><%= link_to "delete", student, method: :delete %></div>
          </div>
          <% end %>
          
          </div>
          </div>

          <div id="project-display" class="left-space-lll">
               <div class="font20">Your Projects</div>
               <% @group.projects.each do |project|%>
                    <div>
               
                    <%= project.name%>
                    <%= project.description%>
                    <%= link_to "delete", project, method: :delete %>
                    <div class="flex">
                    <% if !project.has_team%>
                    <%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}%>
                    <% else%>
                    <%= button_to "View Teams", "/view-teams", method: :get, params: {:project_id => project.id, :user_id => @user.id}%>
                    <%= button_to "Send New Poll", new_poll_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}%>
                    <%= button_to "View Results", "/view-results", method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}%>
                    <%end%>
                    
                    </div>
                    </div>
               <%end%>   
          </div>
     </div>    
     <%else%>
          <div>
          <h1>Opening Polls</h1>
               <%@user.polls.each do |poll|%>
               <%if poll.end_date > Date.today %>
               <div class="flex">

               <div><%=@user.groups.find(poll.group_id).name%></div>
               &nbsp
               <div><%=@user.groups.find(poll.group_id).projects.find(poll.project_id).name%></div>
               &nbsp
               <div><%=@user.teams.where(project_id: poll.project_id).first.name%></div>
               &nbsp
               <div><%= poll.description%></div>
               &nbsp
               <div><%= poll.end_date %></div>
               &nbsp
               <%if @user.pollings.where(poll_id: poll.id).first.is_complete%>
               <div> You are alread completed this poll </div>
               <%else%>
               <%= button_to "Complete Activity", new_result_path, method: :get, params: {:project_id => poll.project_id, :team_id => @user.teams.where(project_id: poll.project_id).first.id, :poll_id => poll.id}%>
               <%end%>
               </div>
               <%end %>
               <%end%>
          </div>

          <h1>Closed Polls</h1>
               <%@user.polls.each do |poll|%>
               <%if poll.end_date < Date.today %>
               <div class="flex">
               <div><%=@user.groups.find(poll.group_id).name%></div>
               &nbsp
               <div><%=@user.groups.find(poll.group_id).projects.find(poll.project_id).name%></div>
               &nbsp
               <div><%= poll.description%></div>
               &nbsp
               <div><%= poll.end_date %></div>
               
               </div>
               <%end %>
               <%end%>
          </div>

          <div>
          <h1>Your Teams</h1>
         <%@user.teams.each do |team|%>
               <div><%= team.name %></div>
               <div><%= @user.groups.find(team.group_id).name %></div>
               <div><%= Project.joins(:teams).where(teams: {id: team.id}).first.name %></div>
               <div>
                    <% team.users.each do |user|%>
                    <div class="flex">
                    <div><%=user.fname%></div>
                    &nbsp
                    <div><%=user.lname%></div>
                    </div>
                    <%end%>
               </div>
         <%end%>
         <div>
     <%end%>


</div>