<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<% if notice%>
    <p class="notice flex center"><%= notice %> </p>
<%end%>
<div>


     <div class=" header v-center space-between flex padding-show">
          <div class="flex">
               <div class="font-all ">
                    <%= "Welcome " + @user.fname + " " + @user.lname + "!"%>
               </div>
               

          </div>
          <div class="flex">
               <%= button_to "Logout", logout_path, method: :post, class: "btn btn-all"%>
               <%= button_to "Update Profile ", edit_user_path, method: :get, class: "btn btn-all"%>
          </div>

     </div>
     <div class="padding-show flex">
          <div class="font-normal">
               <%= "Your email: " + @user.email%>
          </div>
          <div class="font-normal left-space-lllll">
               <% if @user.admin%>
                    <%= "You manage group number " + @user.groups.first.id.to_s + ": " + @user.groups.first.name%>

               <% else %>
                    <%= "Your groups are "%>
                    
                    <span class="left-space">
                    <% @user.groups.each do |group| %>
                    <%= "ID: " + group.id.to_s%>
                    <%= "Name: " + group.name%>
                    <% end %>
                    </span>
               <% end %>
          </div>
     </div>
     <br />
     <% if @user.admin %>
     <div class="flex padding-show">
     <%= button_to "Add Student", new_user_path, method: :get, params: {:temp_user => true, :has_group => true, :group_id => @user.groups.first.id}, class: "btn btn-all"%>
     <%= button_to "Add Project", new_project_path, method: :get, params: {:group_id => @user.groups.first.id}, class: "btn btn-all left-space"%>
     </div>
     <br />


     <div class="padding-show-2  table-show">
          <div class="font-normal bold font20">Your Projects</div>
          <table class="table font14">
                    <tr>
                         <th>Name</th>
                         <th>Descript</th>
                         <th>Action</th>
                         <th>View Team</th>
                         <th>Send Poll</th>
                         <th>View Poll </th>
                    </tr>
               <% @group.projects.each do |project|%>
                    <tr class="">  
                    
                         <td>
                              <%= project.name%>
                         </td>
                         <td>
                              <%= project.description%>
                         </td>
                         <td>
                              <%= button_to "Delete", project, method: :delete, class: "btn btn-normal"%>
                         </td>
                         <% if !project.has_team%>
                              <td><%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <td><%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal invisible"%></td>
                              <td><%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal invisible"%></td>
                              <% else%>
                              <td><%= button_to "View Teams", "/view-teams", method: :get, params: {:project_id => project.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <td><%= button_to "Send New Poll", new_poll_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <td><%= button_to "View Results", "/view-results", method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                         <%end%>
                    </tr>
               <% end %>
          </table>
          <div class="font-normal bold font20">Your Students</div>
          <table class="table ">
                    <tr>
                         <th>Status</th>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Email</th>
                         <th>Role</th>
                         <th>Action</th>
                    </tr>
               <% @group.users.each do |student|%>
                    <tr class="">  
                    
                         <td>
                              <div><%= student.temp_user ? "Inactive" : "Active"%></div>
                         </td>
                         <td>
                              <div><%= student.fname%></div>
                         </td>
                         <td>
                              <div><%= student.lname%></div>
                         </td>
                         <td>
                              <div><%= student.email%></div>
                         </td>
                         <td>
                              <div>
                                   <% if student.admin%>
                                        Admin
                                   <% end %>
                              </div>
                         </td>
                         <td>
                              <% if student.id != @user.id && @group.owner != student.id%>
                              <div><%= button_to "Delete", student, method: :delete, class: "btn btn-normal"%></div>
                              <%elsif @group.owner == student.id%>
                              <div>Owner</div>
                              <%else%>
                              <div>You</div>
                              <%end%>
                         </td>
                    </tr>
               <% end %>
          </table>
          
 
     </div>

     <%else%>
          <div class="padding-show-2 table-show">
          
               <div class="font-all-2">Opening Polls</div>


               <table class="poll top-space-ss table font14">
                    <tr>
                         <th> Group</th>
                         <th> Project</th>
                         <th> Team</th>
                         <th> Poll Info</th>
                         <th> Due Date</th>
                         <th> Action</th>
                    </tr>
                    <%@user.polls.each do |poll|%>
                    <tr>
                    <%if poll.end_date > Date.today %>

                    <td><%=@user.groups.find(poll.group_id).name%></td>
                    
                    <td><%=@user.groups.find(poll.group_id).projects.find(poll.project_id).name%></td>
                    <td><%=@user.teams.where(project_id: poll.project_id).first.name%></td>
                    <td><%= poll.description%></td>
                    <td><%= poll.end_date %></td>
                         <%if @user.pollings.where(poll_id: poll.id).first.is_complete%>
                              <%if poll.is_released%>
                              <td><%= button_to "View Results", "/view-single-result", method: :get, params: {:poll_id => poll.id, :project_id => poll.project_id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                              <%else%>
                              <td>Completed/Not Released</td>
                              <%end%>
                         <%else%>
                              <td><%= button_to "Complete Activity", new_result_path, method: :get, params: {:project_id => poll.project_id, :team_id => @user.teams.where(project_id: poll.project_id).first.id, :poll_id => poll.id}, class: "btn btn-normal"%>  </td>
                         <%end%>
               
                    <%end %>
                    </tr>
                    <%end%>
               </table>
          </div>
          <div class="padding-show-2 table-show">
               <div class="font-all-2 top-space">Closed Polls</div>
                    <table class="poll top-space-ss table font14">
                    <tr>
                         <th> Group</th>
                         <th> Project</th>
                         <th> Team</th>
                         <th> Poll Info</th>
                         <th> Due Date</th>
                         <th> Action</th>
                    </tr>
                    <%@user.polls.each do |poll|%>
                    <tr>
                    <%if poll.end_date < Date.today %>

                    <td><%=@user.groups.find(poll.group_id).name%></td>
                    
                    <td><%=@user.groups.find(poll.group_id).projects.find(poll.project_id).name%></td>
                    <td><%=@user.teams.where(project_id: poll.project_id).first.name%></td>
                    <td><%= poll.description%></td>
                    <td><%= poll.end_date %></td>
                    <%if poll.is_released%>
                    <td><%= button_to "View Results", "/view-single-result", method: :get, params: {:poll_id => poll.id, :project_id => poll.project_id, :group_id => @user.groups.first.id, :user_id => @user.id}, class: "btn btn-normal"%></td>
                    <%else%>
                    <td>Completed/Not Released</td>
                    <%end%>
                    

                    <%end %>
                    </tr>
                    <%end%>
                    </table>
     
               </div>
          </div>

          <div class="top-space padding-show-2">
               <div class="font-all-2">Your Team Assignment</div>
               <%@user.teams.each do |team|%>
               
                   <div class="flex font-normal poll top-space-ss">
                    <div>  
                         <div> Group Name: </div>
                         <div> Project Name:</div>
                         <div> Team Name:</div>
                         <div> Team Info: </div>
                         <div> Team Members: </div>
                         
                    </div>
                    <div class="left-space-ll">
                         <div> <%= @user.groups.find(team.group_id).name %> </div>
                         <div> <%= Project.joins(:teams).where(teams: {id: team.id}).first.name %> </div>
                         <div><%= team.name %></div>
                         <div><%= team.description %></div>
                         <div class="flex">
                         <% team.users.each do |user|%>
                         <div class="flex">
                         <div><%=user.fname%></div>
                         &nbsp
                         <div><%=user.lname%></div>
                         ;&nbsp
                         </div>
                         <%end%>
                         </div>
                    </div>
                    </div>
          
               
               <%end%>
         
         </div>
         </div>
         
     <%end%>


     <div class="footer flex center font20">
          <span>
          Happy Eval - The Little Rascal
          </span>
     </div>
</div>