<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload'%>
<div>
     <p class="notice"><%= notice %> </p>
     
     <div class="info-area header  ">
          <div>You are logged in as</div>
          <div class="flex"><%= @user.fname%>
          <%= @user.lname%>
          <%= @user.email%>
          <%= button_to "Logout", logout_path, method: :post%>
          <%= button_to "Update Profile", edit_user_path, method: :get%>
          </div>
          <div class="flex">
               <% if @user.admin%>
                    <div> Your Manage Group # </div>
                    <%= @user.groups.first.id%>
                    <%= @user.groups.first.name%>

               <% else %>
                    <div> Your groups are: </div>
                    <% @user.groups.each do |group| %>
                    <div><%= group.name%></div>
                    <% end %>
               <% end %>
          </div>
     </div>
     
     <% if @user.admin %>
     <div class="top-space flex">
     <%= button_to "Add Student", new_user_path, method: :get, params: {:temp_user => true, :has_group => true, :group_id => @user.groups.first.id}%>
     <%= button_to "Add Project", new_project_path, method: :get, params: {:group_id => @user.groups.first.id}%>
     </div>


     <table>

          <tr>
               <th class="font20">Your Class</th>
               <th class="font20">Your Projects</th>
          </tr>

          <tr>
               <td>  
                    <% @group.users.each do |student|%>
                         <table>
                              <td>
                                   <div><%= student.temp_user ? "Inactive" : "Active"%></div>
                              </td>
                              <td>
                                   <div><%= student.fname%></div>
                              </td>
                              <td>
                                   <div><%= student.lname%></div>
                              </td>
                              <td>
                                   <div><%= student.email%></div>
                              </td>
                              <td>
                                   <div>
                                        <% if student.admin%>
                                             Admin
                                        <% end %>
                                   </div>
                              </td>
                              <td>
                                   <div><%= link_to "delete", student, method: :delete %></div>
                              </td>
                         </table>
                    <% end %>
               </td>

               <td>
                    <% @group.projects.each do |project|%>
                         <table>
                              <td>
                                   <%= project.name%>
                              </td>
                              <td>
                                   <%= project.description%>
                              </td>
                              <td>
                                   <%= link_to "delete", project, method: :delete %>
                              </td>
                              <td>
                                   <% if !project.has_team%>
                                        <%= button_to "Create Teams", new_team_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}%>
                                        <% else%>
                                        <%= button_to "View Teams", "/view-teams", method: :get, params: {:project_id => project.id, :user_id => @user.id}%>
                                        <%= button_to "Send New Poll", new_poll_path, method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}%>
                                        <%= button_to "View Results", "/view-results", method: :get, params: {:project_id => project.id, :group_id => @user.groups.first.id, :user_id => @user.id}%>
                                   <%end%>
                              </td>
                         </table>
                    <% end %>
               </td>
          </tr>

     </table>
     
     <%end%>
</div>