
<%if !@user.admin%>
<div><%= @project.name%></div>
<div><%= @team.name%></div>
<div><%= @poll.description%></div>
<h1>Please complete the activity below</h1>

<%= form_for @result do |result|%>
<% @team.users.each do |user|%>
    <div>
    <div class="flex">
        <div><%= user.fname%>&nbsp<%= user.lname%> </div>
    
        <div >
        <%= label_tag :Rate_from_0_to_100%>
        <%= text_field_tag "score_#{user.id}", value = nil, :required => true%>
        </div>
        <div >
        <%= label_tag :Comment%>
        <%= text_field_tag "comment_#{user.id}", value = nil, :required => true%>
        </div>
    </div>
    </div>
<%end%>

    <%= hidden_field_tag(:team_id, @team.id)%>
    <%= hidden_field_tag(:project_id, @project.id)%>
    <%= hidden_field_tag(:poll_id, @poll.id)%>
<%= result.submit "Submit" %>
<%end%>

<%else%>
<h1>Only student has access to this page</h1>
<%end%>